@use "../../partials/fonts" as *;
@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.comment-section__form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  font-family: $Ave-reg;
  font-size: 0.813rem;
  position: relative;
  @include tablet {
    padding: 0rem 2rem;
    margin-top: -1rem;
    flex-direction: row;
  }
  @include desktop{
    padding: 0;
  }
}

.comment {
  &-form {
    flex-direction: column;
  }
  &-box {
    resize: none;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    width: 82%;
  }
  &-label {
    font-family: $Ave-demi;
    color: $Silver;
    margin-left: 3rem;
  }
  &-button__container {
    position: relative;
    margin: 0;
  }

  &-button {
    font-family: $Ave-demi;
    color: white;
    background: $BrainFlix-Blue;
    border: none;
    border-radius: 0.25rem;
    padding: 1rem 0;
    width: 82%;
    margin-left: 3rem;
    @include tablet {
      margin: 0;
      position: absolute;
      top: -4.125rem;
      right: -11rem;
      width: 35%;
      padding: 0.925rem 0;
    }
    @include desktop {
      width: 30%;
    }
    &__icon {
      position: absolute;
      top: 0.75rem;
      left: 5rem;
      @include tablet {
        left: 33rem;
        top: -3.25rem;
        z-index: 1;
      }
      @include desktop{
        left: 33rem;
      }
    }
  }
  &-avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: left;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    @include tablet {
      left: 2rem;
    }
    @include desktop {
      left: 4rem;
    }
  }
}

#comment-box {
  font-family: $Ave-reg;
  font-size: 0.875rem;
  color: black;
  background-color: #fafafa;
  border: #e1e1e1 solid 1px;
  border-radius: 0.25rem;
  padding: 0.7rem;
  padding-bottom: 5rem;
  width: 73%;
  @include tablet {
    padding-bottom: 1rem;
    width: 80%;
  }
}
input {
  &::placeholder {
    color: $BrainFlix_DarkBlack;
  }
  &:focus {
    outline: 1px solid $BrainFlix_DarkBlack;
  }
}

.comment-button:hover {
  background-color: $BrainFlix_DarkBlue;
  cursor: pointer;
}
