@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.upload-form {
  display: flex;
  flex-direction: column;
  font-family: $Ave-reg;
  font-size: 0.813rem;
  position: relative;
  &__label {
    font-family: $Ave-demi;
    color: $Silver;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }
  &__title-box {
    width: auto;
    margin-bottom: 0.25rem;
  }
  &__desc-box {
    resize: none;
  }

  &-button-container {
    position: relative;
    margin: 0;
  }

  &__button {
    font-family: $Ave-demi;
    font-size: .813rem;
    color: white;
    background: $BrainFlix-Blue;
    border: none;
    border-radius: 0.25rem;
    padding: .75rem 0;
    width: 100%;
    margin: 1.5rem 0;
    &-icon {
      position: absolute;
      top: 2rem;
      left: .5rem;
      @include tablet {
        z-index: 1;
      }
    }
  }
}

.upload-form__button:hover{
    background-color: $BrainFlix_DarkBlue;
    cursor:pointer;
}

input {
  &::placeholder {
    color: $BrainFlix_DarkBlack;
  }
  &:focus {
    outline: 2px solid $BrainFlix_Blue;
  }
}
#title-box {
  font-family: $Ave-reg;
  font-size: 0.875rem;
  color: black;
  background-color: #fafafa;
  border: #e1e1e1 solid 1px;
  border-radius: 0.25rem;
  padding: 0.7rem;
  @include tablet {
    padding-bottom: 1rem;
  }
}

textarea {
  &::placeholder {
    color: $BrainFlix_DarkBlack;
  }
  &:focus {
    outline: 2px solid $BrainFlix_Blue;
  }
}
#desc-box {
  padding-bottom: 5rem;
  font-family: $Ave-reg;
  font-size: 0.875rem;
  color: black;
  background-color: #fafafa;
  border: #e1e1e1 solid 1px;
  border-radius: 0.25rem;
  padding: 0.7rem;
  @include tablet {
    padding-bottom: 1rem;
  }
}
