// Screen Sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver:AFAFAF;
$White: #ffffff;
$BrainFlix-DarkBlue: #0065AD;
$BrainFlix-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

// Fonts
$Ave-reg: "AvenirNext Normal";

$Ave-demi: "AvenirNext Demi";

$Ave-bold: "AvenirNext Bold";
