@use "../partials/fonts" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.video-main{
    @include desktop{
        width: 60%;
        border-right: 1px solid #e1e1e1 ;
    }
    
}
.video-bar{
    padding: 1rem;
    font-size: .813rem;
    color: $Silver;
    font-family: $Ave-demi;
    @include tablet{
        width: 50%;
        padding: 1rem 2rem;
    }
    @include desktop {
        display: none;
    }
}

.video-bar-aside{
    display: none;
    @include desktop{
        display: block;
        padding: 2rem 1rem;
        font-size: .813rem;
        color: $Silver;
        font-family: $Ave-demi;
    }
}