@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-form {
  display: flex;
  flex-direction: column;
  font-family: $Ave-reg;
  font-size: 0.813rem;
  position: relative;
  @include desktop {
    width: 60%;
  }
  &__label {
    font-family: $Ave-demi;
    color: $Silver;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    @include tablet {
      font-size: 0.875;
    }
    @include desktop {
      margin-top: 2rem;
    }
  }
  &__title-box {
    width: auto;
    margin-bottom: 0.25rem;
  }
  &__desc-box {
    resize: none;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
  &-bottom-container {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid $Mercury;
      width: 100%;
    }
  }

  &-button-container {
    position: relative;
    margin: 0;
    @include tablet {
      width: 25%;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__button {
    font-family: $Ave-demi;
    font-size: 0.813rem;
    color: white;
    background: $BrainFlix-Blue;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 0;
    width: 100%;
    margin: 1.5rem 0;
    @include tablet {
      font-size: 0.875rem;
    }

    &-icon {
      position: absolute;
      top: 2rem;
      left: 0.5rem;
    }
  }
  &__cancel {
    color: $BrainFlix-Blue;
    font-family: $Ave-demi;
    text-align: center;
    font-size: 0.813rem;
    margin: 1rem 0;
    margin-bottom: 1.5rem;
    display: none;
    @include tablet {
      display: inline;
      padding: 0 4rem;
    }
    @include desktop {
    }
    &-bottom {
      color: $BrainFlix-Blue;
      font-family: $Ave-demi;
      text-align: center;
      font-size: 0.813rem;
      margin: 1rem 0;
      margin-bottom: 1.5rem;
      @include tablet {
        display: none;
      }
    }
  }
}

.upload-form__button:hover {
  background-color: $BrainFlix_DarkBlue;
  cursor: pointer;
}

input {
  &::placeholder {
    color: $BrainFlix_DarkBlack;
  }
  &:focus {
    outline: 2px solid $BrainFlix_Blue;
  }
}
#title-box {
  font-family: $Ave-reg;
  font-size: 0.875rem;
  color: black;
  background-color: #fafafa;
  border: #e1e1e1 solid 1px;
  border-radius: 0.25rem;
  padding: 0.7rem;
  @include tablet {
    padding-bottom: 1rem;
  }
}

textarea {
  &::placeholder {
    color: $BrainFlix_DarkBlack;
  }
  &:focus {
    outline: 2px solid $BrainFlix_Blue;
  }
}
#desc-box {
  font-family: $Ave-reg;
  font-size: 0.875rem;
  color: black;
  background-color: #fafafa;
  border: #e1e1e1 solid 1px;
  border-radius: 0.25rem;
  padding: 0.7rem;
  height: 6rem;
  @include desktop {
    padding-bottom: 0;
    height: 5rem;
  }
}
